{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

<div id="header">
    <div id="helper">
        <b>About</b>
    </div>
</div>

<br><br>

<h1 class="center">
    About
    <hr width="160rem">
</h1>

<div style="width: 50rem;" class="center">
    <span style="display: block; margin-top: 6rem;">
    </span>

    <img style="width: 10rem; border-radius: 10rem; float: left;"
        src="https://img.freepik.com/free-vector/mint-vector-leaves-plant-mint-green-leaf-mint-organic-fresh-mint-illustration_1284-47066.jpg?w=360&t=st=1652598645~exp=1652599245~hmac=2cfb28ae270390f92e5d2c2266a87c289181c4769e38bd7262837062f1760160"
        alt="Couldn't load, Check Internet connection">

    <div style="word-wrap: break-word; text-align: left; margin-left: 12rem;">
        <br><br>
        <b>
            <i>Our website is a non profitable website. We put people and planet before profite. We decided 100% of our
            profit to climate active. Here people can give their plants to others for free. We are trying to make
            planting easy. Make yourself a part of this project and heal the nature. Happy planting!</i>
        </b>
    </div>
</div>

<br>

<div style="width: 50rem;" class="center">
    <span style="display: block; margin-top: 6rem;">
    </span>

    <img style="width: 10rem; border-radius: 10rem; float: left;"
        src="https://www.pngitem.com/pimgs/m/519-5199696_leaf-logo-hd-png-download.png"
        alt="Couldn't load, Check Internet connection">

    <div style="word-wrap: break-word; text-align: left; margin-left: 12rem;">
        <br><br><br>
        <b>
            <i> Trees exhale for us so that we can inhale them to stay alive. Can we ever forget that? Let us love trees with every breath we take until we perish.</i>
        </b>
    </div>
</div>

<br>

<div style="width: 50rem; margin-bottom: 10rem;" class="center">
    <span style="display: block; margin-top: 6rem;">
    </span>

    <img style="width: 10rem; border-radius: 10rem; float: left;"
        src="https://www.pngkey.com/png/detail/405-4059414_green-leaf-leaf-logo-transparent-background.png"
        alt="Couldn't load, Check Internet connection">

    <div style="word-wrap: break-word; text-align: left; margin-left: 12rem;">
        <br><br><br>
        <b>
            <i> The true meaning of life is to plant trees under whose shade you do not expect to sit. </i>
        </b>
    </div>

    
</div>



{% endblock content %}

