{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block content %}

<head>
    <style>
        .myfont{
            font-family:'Courier New', Courier, monospace;
            color: aliceblue;
            font-weight: 900;
        }
    </style>
</head>

<div id="header">
    <div id="helper">
        <b>Contact</b>
    </div>
</div>

<br><br><br>

<h1 class="center">
    Contact
</h1>

<hr width="250rem">

<br><br>
<div style="width: 26rem; background-color: #04AA6D; padding: 3rem; border-radius: 5rem;" class="center myfont">
    
    Developed & maintained by - <br> <br> <br>

    <span style="text-align: left; display: block;" class="myfont">
        Sanat Kumar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:anganbd@gmail.com">anganbd@gmail.com</a>
        <br>
        Nafisa Nayem &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:nafisabintenayem@gmail.com">nafisabintenayem@gmail.com</a>
        <br>
        Maliha Mohasin &nbsp;&nbsp;<a href="mailto:malihamohsin03@gmail.com">malihamohsin03@gmail.com</a>
        <br>
    </span>
    <br><br>
    Office address: 21/A Khilgaon Taltola, Dhaka-1219.
    
</div>

{% endblock content %}



